.main-batch {
    width: 90%;
    margin: auto;
    margin-top: 2vw;
    height: auto;
}

.batch-main-text {
    width: 100%;
    font-size: 1.2vw;
    font-weight: 600;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.batch-remark-box {
    margin-top: 0.5vw;
    display: flex;
    justify-content: start;
    align-items: center;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.batch-remark {
    width: 100%;
    font-size: 1vw;
    font-family: 'Open Sans', sans-serif;
    color: #535353;
    font-weight: 500;
    margin-right: 2vw;
    white-space: pre;
}

.batch-main-title {
    width: 100%;
    font-size: 1.2vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-weight: bold;
    margin-top: 2vw;
}

.batches-container {
    width: 101%;
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    margin-top: 1vw;
}

.batch-card {
    width: 24%;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 1vw;
    cursor: pointer;
}

.batch-thumbnail {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 8px;
}

.batch-info {
    padding: 1vw 0;
}

.batch-language-container {
    display: flex;
    justify-content: start;
    align-items: start;
    color: #535353;
}

.batch-language {
    padding: 0.2vw;
    border: #535353 solid 0.5px;
    border-radius: 3px;
    font-size: 0.7vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.batch-title {
    font-size: 1.2vw;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0.7vw;
    font-weight: 600;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.batch-desc-container {
    display: flex;
    justify-content: start;
    align-items: start;
    margin-top: 0.6vw;
    color: #535353;
}

.batch-desc-icon {
    width: 1.2vw;
    height: 1.2vw;
}

.batch-desc-title {
    font-size: 0.9vw;
    margin-left: 0.5vw;
    font-family: 'Open Sans', sans-serif;
}

.pagination-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-btn button {
    margin: 0 5px;
    padding: 5px 12px;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
}

.pagination-btn button.active-page {
    background: #6e8efb;
    color: white;
    border-color: #6e8efb;
}

@media (max-width: 1024px) {
    .main-batch {
        width: 95%;
        margin-top: 2rem;
    }

    .batch-main-text {
        font-size: 1.2rem;
    }

    .batch-remark-box {
        margin-top: 0.5rem;
    }

    .batch-remark {
        font-size: 1rem;
        margin-right: 2rem;
    }

    .batch-main-title {
        font-size: 1.2rem;
        margin-top: 2rem;
    }

    .batches-container {
        width: 100%;
        gap: 2%;
        margin-top: 1rem;
    }

    .batch-card {
        width: 49%;
        margin-top: 1rem;
    }

    .batch-info {
        padding: 1rem 0;
    }

    .batch-language {
        padding: 0.2rem;
        font-size: 0.7rem;
    }

    .batch-title {
        font-size: 1.2rem;
        margin-top: 0.7rem;
    }

    .batch-desc-container {
        margin-top: 0.6rem;
    }

    .batch-desc-icon {
        width: 1.2rem;
        height: 1.2rem;
    }

    .batch-desc-title {
        font-size: 0.9rem;
        margin-left: 0.5rem;
    }

}

@media (max-width: 600px) {
    .main-batch {
        width: 95%;
        margin-top: 1.8rem;
    }

    .batch-main-text {
        font-size: 1rem;
    }

    .batch-remark-box {
        margin-top: 0.5rem;
    }

    .batch-remark {
        font-size: 0.8rem;
        margin-right: 1.8rem;
    }

    .batch-main-title {
        font-size: 1rem;
        margin-top: 1.8rem;
    }

    .batches-container {
        width: 100%;
        margin-top: 0.6rem;
    }

    .batch-card {
        width: 49%;
        margin-top: 0.8rem;
    }

    .batch-info {
        padding: 0.8rem 0;
    }

    .batch-language {
        padding: 0.2rem;
        font-size: 0.7rem;
    }

    .batch-title {
        font-size: 1rem;
        margin-top: 0.7rem;
    }

    .batch-desc-container {
        margin-top: 0.6rem;
    }

    .batch-desc-icon {
        width: 1rem;
        height: 1rem;
    }

    .batch-desc-title {
        font-size: 0.7rem;
        margin-left: 0.5rem;
    }

}