.main-batch {
    width: 90%;
    margin: auto;
    margin-top: 2vw;
    height: auto;
}

.batch-main-text {
    width: 100%;
    font-size: 1.2vw;
    font-weight: 600;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.batch-remark-box {
    margin-top: 0.5vw;
}

.batch-remark {
    width: 100%;
    font-size: 1vw;
    font-family: 'Open Sans', sans-serif;
    color: #535353;
    font-weight: 500;
    margin-right: 2vw;
    white-space: pre;
}

.batch-main-title {
    width: 100%;
    font-size: 1.2vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-weight: bold;
    margin-top: 2vw;
}

.batches-container {
    width: 101%;
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    margin-top: 1vw;
}

.batch-card {
    width: 24%;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 1vw;
    cursor: pointer;
}

.batch-thumbnail {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.batch-info {
    padding: 1vw 0;
}

.batch-language-container {
    display: flex;
    justify-content: start;
    align-items: start;
    color: #535353;
}

.batch-language {
    padding: 0.2vw;
    border: #535353 solid 0.5px;
    border-radius: 3px;
    font-size: 0.7vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.batch-title {
    font-size: 1.2vw;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0.7vw;
    font-weight: 600;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.batch-desc-container {
    display: flex;
    justify-content: start;
    align-items: start;
    margin-top: 0.6vw;
    color: #535353;
}

.batch-desc-icon {
    width: 1.2vw;
    height: 1.2vw;
}

.batch-desc-title {
    font-size: 0.9vw;
    margin-left: 0.5vw;
    font-family: 'Open Sans', sans-serif;
}

.pagination-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-btn button {
    margin: 0 5px;
    padding: 5px 12px;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
}

.pagination-btn button.active-page {
    background: #6e8efb;
    color: white;
    border-color: #6e8efb;
}